.menu {
  background: #f9f9ff;
  padding: 30px 25px 40px;
  margin: 10px auto;
  width: 70%;
  border-radius: 30px;
}

.grid {
  margin: 30px 0px 20px;
}

.title {
  margin: 10px 0px 5px;
}

.title2 {
  margin: 15px 0px 10px;
}

.title3 {
  margin: 20px 0px 10px;
}

.submit {
  margin: 10px 0px 0px;
  background: #3e73d9;
}

.copy {
  background: #3e73d9;
}

form {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .menu {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  .menu {
    width: 50%;
  }
}

@media only screen and (min-width: 1600px) {
  .menu {
    width: 40%;
  }
}
